[submodule "ext/more"]
	path = ext/more
	url = git://github.com/mootools/mootools-more.git
[submodule "ext/core"]
	path = ext/core
	url = git://github.com/anutron/mootools-core.git
[submodule "ext/depender"]
	path = ext/depender
	url = git://github.com/anutron/mootools-depender.git
